<p>
  <strong>Common english name:</strong>
  <%= best_in_place @bird, :common_english_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= best_in_place @bird, :scientific_name %>
</p>

<p>
  <strong>Family:</strong>
  <%= best_in_place @bird, :family %>
</p>

<p>
  <strong>Order:</strong>
  <%= best_in_place @bird, :order %>
</p>

<p>
  <strong>Marathi name:</strong>
  <%= best_in_place @bird, :marathi_name, :type => :input %>
</p>

<p>
  <strong>Sanskrit name:</strong>
  <%= best_in_place @bird, :sanskrit_name %>
</p>

<p>
  <strong>Sanskrit name description:</strong>
  <%= best_in_place @bird, :sanskrit_name_description , :type => :textarea%>
</p>

<p>
  <strong>Scientific name etymology:</strong>
  <%= best_in_place @bird, :scientific_name_etymology %>
</p>

<p>
  <strong>Iucn status:</strong>
  <%= best_in_place @bird, :iucn_status %>
</p>