

  <div class="field">
    <%= f.label :marathi_name %><br>
    <%= f.text_field :marathi_name %>
  </div>
  <div class="field">
    <%= f.label :sanskrit_name %><br>
    <%= f.text_field :sanskrit_name %>
  </div>
  <div class="field">
    <%= f.label :sanskrit_name_description %><br>
    <%= f.text_area :sanskrit_name_description %>
  </div>
  <div class="field">
    <%= f.label :scientific_name_etymology %><br>
    <%= f.text_area :scientific_name_etymology %>
  </div>
  <div class="field">
    <%= f.label :iucn_status %><br>
    <%= f.text_field :iucn_status %>
  </div>
  
