<%= link_to 'New Bird', new_bird_path %>

<br>

<table class='table  table-bordered table-hover tablesorter' id='brdTable'>
  <thead>
    <tr>
      <th>Common english name</th>
      <th>Scientific name</th>
      <th>Family</th>
      <th>Order</th>
      <th>Iucn status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @birds.each do |bird| %>
      <tr>
        <td><%= bird.common_english_name %></td>
        <td><%= bird.scientific_name %></td>
        <td><%= bird.family %></td>
        <td><%= bird.order %></td>
        <td><%= bird.iucn_status %></td>
        <td><%= link_to 'Show', bird %></td>
        <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
        <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

